<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChangePitch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5C8757E1D18F4BE008207FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5C875921D18F4BF008207FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5C8759D1D18F4BF008207FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
